body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  color: #FFF;
  background-color: #222;
  font-family: 'VT323', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-block: 2rem;
  padding-inline: 3rem;
  border: 1px solid #2FB600;
}

a {
  display: inline-block;
  padding: 0 0.2rem;
}
a:focus-visible {
  outline: 3px dashed #2FB600;
  outline-offset: 4px;
}

.alert {
  position: absolute;
  top: 1rem;
  left: 50%;
  padding: 0.5rem 2rem;
  background-color: #22c55e;
  font-size: 1.5rem;
  text-align: center;
  transform: translateX(-50%);
  z-index: 100;
  animation: alert 0.5s ease-in-out;
}
.alert.error {
  background-color: #d92626;
}
.alert.fade {
  opacity: 0;
  transform: translateX(-50%) translateY(-2rem);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 0.5rem;
  }
  main {
    padding-inline: 1rem;
  }
}
