---
import Page from "../layouts/Page.astro"
---

<Page title="About Me">
  <div class="flex flex-wrap justify-center xlg:justify-start gap-16">
    <p class="grow flex flex-col gap-3 xlg:max-w-md text-2xl">
      <span>Frontend Web Developer, passionate about technology and programming.</span>
      <span>Proficient in web development technologies, tools and methodologies, as Git/GitHub, CI/CD, SOLID, etc.</span>
      <span>Focused on providing valuable solutions to problems. Enjoy working on productive
      and collaborative teams, making good relationships with my co-workers, while
      keeping respect and empathy.</span>
      <em>"First solve the problem, then write the code"</em>
    </p>
    <div class="relative w-96">
      <div class="absolute inset-0 bg-green-600/30"></div>
      <picture class="w-full aspect-square">
        <source srcset="/profile.webp" type="image/webp" />
        <img
          class="w-full aspect-square"
          src="/profile.jpg"
          alt="Photo of Jesus Borrero"
        />
      </picture>
      <div
        class="hidden xs:block absolute -bottom-[5%] -right-[5%] w-full aspect-square border-4 border-green-600 -z-10"
      >
      </div>
    </div>
  </div>
</Page>
