---
import Page from "../layouts/Page.astro";
import AnchorButton from "../components/AnchorButton.astro";
---

<Page>
  <div class="mx-auto pt-14 w-fit text-left">
    <p class="ml-0.5 text-2xl">Hi, my name is</p>
    <h1 class="-ml-3 text-8xl text-green-500 font-medium">Jesús Borrero</h1>
    <p class="-ml-1.5 text-6xl text-green-200/80">
      I build things for the web
    </p>
    <p class="mt-4 max-w-2xl text-2xl">
      Frontend developer by day 🌞, working on incredible digital experiences.
      <span title="I don't have any projects yet ☹">Backend developer by night 🌚, learning about APIs and microservices.</span>
      <!-- Currently working at 
      <a href="https://www.example.com" target="_blank" class="text-green-500">Example</a>. -->
    </p>
    <div class="flex gap-5 mt-5">
      <AnchorButton text="Resume" href="https://github.com/jesubohr/jesubohr/blob/main/assets/JesusBorreroCV.pdf" />
    </div>
  </div>
</Page>
