---
import Page from "@layouts/Page.astro"
import { ProjectList } from "@components/Projects"
import { projects } from "portfolio.json"
---

<Page title="Projects">
  <div class="flex flex-wrap justify-between gap-5">
    <ProjectList projects={projects} client:visible />
  </div>
</Page>
