---
// import HeaderLink from "./HeaderLink.astro";
import { HeaderLink } from "./HeaderLink";
import MenuIcon from "./MenuIcon.astro";
---

<header>
  <button class="menu-button block xs:hidden p-2.5">
    <MenuIcon />
  </button>
  <nav class="hidden xs:flex xs:relative xs:left-0 xs:flex-row xs:border-0">
    <HeaderLink href="/" client:load>Home</HeaderLink>
    <HeaderLink href="/about" client:load>About</HeaderLink>
    <HeaderLink href="/projects" client:load>Projects</HeaderLink>
    <HeaderLink href="/contact" client:load>Contact</HeaderLink>
  </nav>
</header>

<script>
  const toggleMenu = () => {
    const menu = document.querySelector("nav")!;
    menu.classList.toggle("hidden");
  };

  const button = document.querySelector(".menu-button")!;
  button.addEventListener("click", toggleMenu);
</script>

<style>
  header {
    position: relative;
    display: flex;
    width: 100%;
    border: solid #199400;
    border-width: 1px 1px 0;
  }

  nav {
    position: absolute;
    top: calc(100% + 5px);
    left: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 10px);
    background-color: #222;
    border: 1px solid #199400;
  }
</style>
