---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
  a {
    position: relative;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
  }
  a:last-of-type {
    border-right: none;
  }
  a:hover {
    background-color: #116600;
  }
  a.active {
    background-color: #199400;
  }
</style>
