---
export interface Props {
  href: string
  icon: string
  text: string
}

import Icon from "./Icon.astro"
const { href, icon, text } = Astro.props as Props
---

<a
  href={href}
  target="_blank"
  class="group flex items-center gap-3 text-4xl text-green-200"
>
  <Icon icon={icon} />
  <span class="text-green-400 group-hover:underline">{text}</span>
</a>
